
#wrap_ImagesUpload{
    /*display: none;*/
}

.Inputfield_ImagesUpload .InputfieldFileList{
    display: none;
}


#ImagesManagerList table{
    width: 100%;
}

#ImagesManagerList table th b{
    display: none;
}


#ImagesManagerList table tbody tr{ width: 100%;}
#ImagesManagerList table th{
    cursor: pointer;
}

#ImagesManagerList table tbody td{
    vertical-align: top;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.92em;
}


#ImagesManagerList table tbody td .im_magnific{
    display: inline-block;
    padding: 5px;
    box-shadow: 1px 1px 2px #ccc;
    background-color: #eee;
}

#ImagesManagerList table tbody td .im_magnific:hover{
    background-color: #fff;
}

#ImagesManagerList table tbody td .im_magnific img{
    border: 1px solid #aaa;
}

#ImagesManagerList table tbody td .imagesmanager_tagfield_wrapper{

}

#ImagesManagerList table tbody td .imagesmanager_tagfield{
    position: static;
}

#ImagesManagerList table tbody td .imagesmanager_tagfield.selected{
    position: absolute;
    z-index: 1;
}


#ImagesManagerList p.im_selector{
    opacity: 0.4;
}


