#wrap_ImagesUpload{
    /*display: none;*/
}

.Inputfield_ImagesUpload .InputfieldFileList{
    display: none;
}

#uploadimages, #addcategory{
    margin: 0 0.5em 0.5em 0;
    display: inline;
}
.imagesManagerDataTable td{
}
.imagesManagerDataTable .imagesmanager_tagfield_wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}
.imagesManagerDataTable input.imagesmanager_tagfield{
    width: 90%;
    position: absolute;
    top: -9px;
}

.imagesManagerDataTable input.imagesmanager_tagfield:focus{
    width: 300%;
    position: absolute;
    z-index: 1;
}

.imagesManagerDataTable thead th div.DataTables_sort_wrapper{
    color: inherit!important;
}